<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Blog Generator</h1>
        <form id="blogForm" action="{{ url_for('generate_blog') }}" method="POST">
            <label for="blogTitle">Input a title to generate a blog of 200 words:</label><br>
            <input type="text" id="blogTitle" name="blogTitle" required><br><br>
            <input type="submit" value="Generate Blog">
        </form>
    </div>
</body>
</html>
